{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
   
    {% block title %}
        {{ request.user.username}}
    {% endblock title %}

<!--  -->


<!-- <div class="col-8 col-sm-8 col-md-8 col-lg-5  col-middle text-left border-left border-right"> -->
{% block top-what-is-happening %} 
    <!--back home arrow and username -->
    <a href="/"><i class="fa fa-arrow-left"></i></a>
    <p class="pl-5" t-5><b>{{ user.username }}</b><br>
        {{ user.user_posts.count }} Tweets</p>

    <!-- user cover page picture -->
    <div class="user-cover-picture">
        {% if user.profile.cover_picture %}
            {% load thumbnail %}
            {% thumbnail  user.profile.cover_picture "623x220" as im %}
                <!-- <a href="{{ post.image.url }}"> enlarge the image -->
                <a href="{{ user.profile.cover_picture.url }}"> <!-- enlarge user cover picture to full size on the screen -->
                <img src="{{ im.url }}" alt=""> 
            </a>
        {% endthumbnail %}
    
        {% else %}
            <!-- if not user upload cover picture we give profile picture as cover picture -->
            {% load thumbnail %}
        
            {% thumbnail  user.profile.photo "623x220" as im %}
                <a href="{{ user.profile.photo.url }}"> <!--enlarge user profile picture to full size on the screen-->
                <!-- <img src="{{ im.url }}" alt="">  -->
                upload
            
            {% endthumbnail %}
        {% endif %}
    </div>
    
    <!-- user profile photo -->
    <div class="user-profile-picture">
        {% if user.profile.photo %}
            <a href="{{ user.profile.photo.url }}"> <!-- enlarge user profile picture to full size on the screen -->
            <img src="{{ user.profile.photo.url }}" class="img-fluid" alt="" width="60" height="50">
            </a>
        {% else %}
            <img src="{% static 'not-found.png' %}" alt="" width="60" height="50">
        {% endif %}
    </div>
{% endblock top-what-is-happening %} 

    
{% block what-is-happening %}

   <!-- user profile username and follow/unfollow button -->
    <div class="user-info">
        <div class="row">
            <div class="col">
                <p class="ml-4"><b>{{ user.username }}</b><br>
                    @{{ user.username }}
                </p>
            </div>
            <div class="col">
                <!-- empty ayaynu u daynay si aynu colomn 4 ka follow/unfollow rightka u tago  -->
            </div>
            <div class="col">
                <!-- empty ayaynu u daynay si aynu colomn 4 ka follow/unfollow rightka u tago  -->
            </div>

            {% if not user == request.user  %}
            <div class="col user-profile-follow-button">
                <a href="#" data-id="{{ post.id }}" data-action="{% if request.user in user.following.all %}un{% endif %}follow" class="follow button">
                    {% if request.user not in user.followers.all %}
                    Follow
                    {% else %}
                    following
                    {% endif %}
                    </a>
            </div>
            {% else %}
            <!-- <div class="user-profile-follow-button mr-5">
                <a href="{% url 'edit'%}" class="edit">Edit Profile</a>
            </div> -->

         <!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
  </button> -->
  <div class="user-profile-follow-button mr-5">
  <a href="" class="" data-toggle="modal" data-target="#exampleModal">Edit Profile</a>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="haye"> 
      <div class="modal-content">
        <div class="modal-header" id="modal-header">
            <!-- <h5 class="modal-title" id="exampleModalLabel">Modal title</h5> -->
            <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close" style="float: left;">
              <span class="xidh"  aria-hidden="true">&times;</span>
            </button>
        </div>
    
         
        <div class="modal-body">
            <div class="user-cover-picture">
                {% if request.user.profile.cover_picture %}
                    <img src="{{ user.profile.cover_picture.url }}" alt="" width="500" height="150">
                {% else %}
                    <img src="{% static 'not-found.png' %}" alt="" width="623" height="150">

                {% endif %}
                    
                
            </div>
            
            <div class="user-profile-picture">
                {% if request.user.profile.photo %}
                    <img src="{{user.profile.photo.url}}" alt="" width="100" height="80"> 
                {% else %}
                    <img src="{% static 'not-found.png' %}" alt="" width="623" height="150">
                {% endif %}
            </div>
            
          <form action="." method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ edit_profile_form|crispy }}
            <button type="submit" class="btn btn-primar save">save</button> 
          </form>
        </div>
      </div>
    </div>
    </div>
  </div>
         <!-- @@@@@@@@@@@@@@@@@@@@@@@@'''' -->

            {% endif %}
        </div>
      
        <!-- user description -->
        <p class="mt-2 px-2 text-muted ">{{ user.profile.description|stringformat:".100s" }} .</p>
        <p class="mt-2 pl-2  text-muted"><i class="fa fa-link"></i>{{ user.profile.link }}&nbsp;&nbsp; <i class="fa fa-table"></i> Joined {{ user.profile.date_joinded }}</p>
        <P class="pl-2 text-muted"><b>{{ user.following.count }}</b>
            <a href="{% url 'users_following' user.username %}" class="text-muted" style="color: black;">following</a> &nbsp;&nbsp;<b>{{ user.followers.count }}</b> 
            <a href="{% url 'users_followers' user.username%}" class="text-muted" style="color: black;">followers</a>
        </P>
    </div>

{% endblock what-is-happening %}

{% block home-content %}
<!-- nav in the under user description -->
<nav class="nav-user-profile col">
    <ul class="nav justify-content-center">
        <div class="col">
        <li class="nav-item">
        <a class="nav-link" href="{% url 'user_profile' request.user.username %}">Tweets</a>
        </li>
        </div>
        <div class="col-">
        <li class="nav-item">
        <a class="nav-link" href="#">Tweets & replies</a>
        </li>
        </div>
        <div class="col">
        <li class="nav-item">
        <a class="nav-link" href="#">Media</a>
        </li>
        </div>
        <div class="col">
        <li class="nav-item">
            <a class="nav-link" href="#">Likes</a>
        </li>
        </div>
    </ul>
</nav>
<hr>
<!-- END nav -->
  <div class="content-wrapper">
    {% for post in user_posts %}  
        <!-- starts  post wrapper -->
        <div class="user-wrapper"> 
            <!-- userka postada soo dhigay  -->
          <a href="{% url 'user_profile' post.user.username %}">
              {% if post.user.profile.photo %}
                <img src="{{ post.user.profile.photo.url }}"></a>{{ post.user }}&nbsp;@{{ post.user.username}} 
            {% else %}
                <img src="{% static 'css/no-image.jpg' %}" alt="">
            {% endif %}
        </div>
        <!-- post middle wrappper--> 
        <div class="post-wrapper col-10 col-md-10 col-sm-10 "> 
            <div class="delete-dropdown col col-lg-2 offset-lg-10">
        <!-- DELETE -->
        <!-- Default dropup button -->
        {% if post.user == request.user %}<!-- ka qari userada kale delete optionka  -->
        <!-- start modal delete -->
        <div class="btn-group dropup  offset-sm-11 offset-lg-7">
            <button type="button" class="delete-button btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            
            </button>
            <div class="dropdown-menu offset-lg-2 mr-5">
                <a><p class="text-left" data-toggle="modal" data-target="#hassan{{post.id}}" style="color: red;">Modal Delete</p></a>
                <!-- deletkani waa kii saxda ahaa ee idga isticmaalayey -->
                <!-- <a href="{% url 'deletee' post.id %}" class="delete"> normal Delete</a> 
                 -->
                
                 <!-- <a href="#" data-id="{{ post.id }}" data-url="{% url 'deletee' post.id %} class="delete">deletee</a> -->
                 <input class="delete" id="{{ post.id }}"  data-url='{% url "deletee" post.id %}' value="Effacer">


                </div>
                    
            <!-- Modal -->
        
            <div class="modal fade" id="hassan{{ post.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <!-- si uu modelku u shaqeeyo waa inay isku ahaadaan data-target ID iyo modal ID-->
                <div class="modal-dialog" role="document">
                    <div class="modal-content offset-sm-8">
                        
                        <div class="modal-body">
                            <form action="{% url 'delete' post.id %}" method="POST">
                                {% csrf_token %}
                                <p class="text-center"><b>Delete Tweet ?</b></p>
                                
                                <p>This can't be undone and it will be romoved
                                    from your profile, the timeline of any accounts
                                    that follow you and from Twitter search results.
                                </p>
                                <div class="modal-foote text-center">
                                    <button type="button" class="btn btn-secondary modal-btn-secondray" style="background-color: lightgray;"><a href="{% url 'user_profile' request.user.username %}">Cancel</a></button>
                                    
                                    <button type="submit" class="btn btn-danger modal-btn-danger">Delete</button>
                                
                                </div>
                            </form>
                            

                        </div>
                   
                    </div>
                </div>
            </div>
        </div>
        <!-- end modal delete-->
        {% endif %}
        <!-- END DELETE -->

        <!-- START MIDDLE POST  -->
           </div>
                <div class="card">
                    {% if post.image %} 
                        <!-- load thumbnail for postada dhexda taala-->
                        {% load thumbnail %}
                        <!-- {% thumbnail post.image "520x285" as im %} -->
                            <!-- <a href="{{ post.image.url }}"> enlarge the image -->
                            <!-- <img src="{{ im.url }}"> -->
                        </a>
                         {% endthumbnail %}
                            <!-- postada dhexda taala -->
                        <img class="card-img-top" src="{{ post.image.url }}" alt="Card image cap" width="520" height="285">
                        
                            
                         
                    {% endif %} 
                    
                    <div class="card-bod">
                        <h2 class="card-title"></h2>
                        <p class="card-text text-center">{{ post.content }}</p>
                    </div>
              </div>
              <!-- ######################## -->         

              <!-- ###################### -->
          
                    <!-- starts under post  -->
                <div class="container">
                    <div class="row">
                        <!-- comment -->
                        <div class="col post-bottom">
                            <a href="{% url "give_post_tweet" post.id %}" <i class=" fa fa-comment"></i></i></a>
                            {{ post.comments.count }}
                        </div>

                        <!-- retweet -->
                        <div class="col post-bottom">
                            <a href="" <i class="fa fa-retweet"></i></a>
                        </div>
                        <!-- like -->
                        <div class="col post-bottom">
                            {% with total_likes=post.users_like.count users_like=post.users_like.all %}
                                <a href="" <i class="fa fa-heart"></i></a>
                                {{ total_likes }}
                                    
                                {% endwith %}
                            <!-- {% if not request.user in post.users_like.all %}
                                <a href="">like</a>
                            {% else %}
                                <a href="">Unlike</a>
                            {% endif %} -->
                        </div>
                            <!-- share or bookmark  -->
                            <div class="col post-bottom">
                            <a href="" <i class="fa fa-download"></i></a>
                        </div>
                    </div>
                    <!-- end under post -->
                </div>
            <!-- end post wrapper-->
            </div>
    {% endfor %}   
        </div>
    <!-- END POST MIDDLE -->
      
{% endblock home-content %}

<!-- START USER POST IMAGES -->
{% block top-you-might-like %}
    <!-- right side for user 6 posts images -->
    <div class="haye"> 
    {% for post in postss %}
   
        {% if post.image %}
            <!-- {% load thumbnail %}
                {% thumbnail post.image "100x90" as im %}
                  
                    <img src="{{ im.url }}">
                </a>
            {% endthumbnail %} -->
           
            <img src="{{ post.image.url }}" class="pt-1" alt="" width="100" height="90">
            


            {% endif %}
    {% endfor %}
    </div>

{% endblock top-you-might-like %}
<!-- END USER POST IMAGES  -->

<!-- your sugesstion users to follow  -->
{% block you-might-like %}   
    <p class="text-left ml-3 mt-3 pt-3 font-weight-bolder">You might like</p>
   
    {% for user in users %}
   <div class="container bg-primar">
       <!-- don'nt show me the user Im following  -->
        {% if user not in request.user.following.all %}
       <div class="row you-might-like_user">
       
           <div class="col-lg-2"> 
               {% if user.profile.photo %}
            <img src="{{ user.profile.photo.url }}" class="float-left" alt="" width="60">
            {% endif %}
           </div>
           <div class="col-lg-3 "> 
               <b><a href="{% url 'user_profile' user.username %}" style="color: black;">{{ user.username}}</a></b><br>
               <span class="text-muted">@{{ user.username}}</span>
           </div>
           <div class="col-lg-5">
            <p class="user-follow">
                {% if request.user not in user.followers.all %}
                <a href="">Follow</a>
                {% else %}
                <a href="">Unfollow</a>
                {% endif%}
            
            </p>
           </div>
           <hr>
       </div>
    {% endif %}
   </div>
   {% endfor %}

   </div>
 
{% endblock you-might-like %}    
<!-- END sugesstion users to follow  -->

{% block domready %}
   $('.edit').click(function(e){
       e.preventDefault()
       $.ajax({% url 'edit' %})

   })
{% endblock domready%}
    
    